server: wdoor.c.u-tokyo.ac.jp
port: 4081
gamename: auto0
timeleft: 1500
byoyomi: 0
player0: gps0_300
player0_command: ~/gpsshogi/bin/gpsshogi -cvx -l 300
player1: gps1_400
player1_command: ~/gpsshogi/bin/gpsshogi -cvx -l 400
record_list: 0-7, 13, 15-19
record_file: 絶対パスでキセンファイル名を指定
