makefile.local
release
.svn
*.diff
*.log
*.swp
*.vim
*.o
*.lo
*.a
*.pb.h
*.pb.cc
.deps
build
dist
dist-smp
install-lib
tags
# executables in test/
test/**/*.t
test/testAll
test/testBoard
test/testCategory
test/testOpening
test/testSearch
*.testProblems*
*.testShow
# executables in sample/
sample/category/generatorstat
sample/category/make_move
sample/category/generate
sample/debug/printPdp
sample/debug/printPosition
sample/debug/printMove
sample/debug/printPiece
sample/debug/printPtypeO
sample/debug/printNcores
sample/eval/ppair/pairdiff
sample/eval/ppair/pairedit
sample/eval/ppair/pairstat
sample/eval/show-state
sample/opening/convert
sample/opening/showOpening
sample/opening/opening-validator
sample/performance/checkHashPerf
sample/performance/generatorPerf
sample/performance/isCheckPerf
sample/performance/pin_perf
sample/performance/mtdfPerf
sample/performance/category_perf
sample/performance/progress_perf
sample/performance/rating-perf
sample/progress/show-state
sample/quiescence/quiescencestat
sample/quiescence/range-vs-nodes
sample/quiescence/quiescence2stat
sample/record/check-kisen
sample/record/show-ipx
sample/record/show-ki2
sample/record/bad-moves
sample/record/all-states
sample/legal_moves
sample/sort
sample/random_play
sample/show_repetition
sample/showRecord
sample/checkstat
sample/fixed-checkmate
sample/rating/ratingstat
